* {
    margin: 0;
    padding: 0;
}

.section-one {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}

.section-two {
    padding: 40px;
    text-align: center;
    margin: 20px;


}

.section-two__imgone {
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    padding-top: 35px;

}

.section-two__imgtwo {
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
}

.section-two__imgthree {
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    margin: 20px;
    padding-top: 35px;
}

.button {
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100px;
    background-color: beige;
}

.section-three {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px;
    text-align: center;

}


.section-three__input {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    display: inline-block;
    text-align: center;

}

.table {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.section-three__buton {
    padding-left: 90px;
    padding-right: 90px;
    margin: 10px;
    background-color: cornsilk;
    border-radius: 5px;
}